/* ===== begin move nav bar and window controls to bottom ====== */
.tabbrowser-tab {
	display:none
}

.titlebar-spacer {
	display:none;
}

#tabbrowser-arrowscrollbox-periphery {
	display:none;
}

#firefox-view-button {
	visibility: collapse;
}

#navigator-toolbox {
	-moz-box-ordinal-group: 1 !important;
	order: 1 !important;
}

#urlbar-container{
	-moz-transform: scale(-1, -1);
	-o-transform: scale(-1,-1);
	-webkit-transform: scale(-1,-1);
	transform: scale(-1,-1);
}

#urlbar{
	-moz-transform: scale(-1, -1);
	-o-transform: scale(-1,-1);
	-webkit-transform: scale(-1,-1);
	transform: scale(-1,-1);
}

#nav-bar {
	margin-top: -35px;
	margin-bottom:-1px;
}

#titlebar {
	margin-bottom:-8px;
	height:44px;
}
/* ===== end move nav bar and window controls to bottom ====== */


@media (-moz-platform: windows) {
	#nav-bar {
		margin-right: 140px;
	}
}

@media (-moz-platform: macos) {
	#nav-bar {
		margin-left: 128px;
	}
}

#navigator-toolbox{
	--toolbar-bgcolor: transparent;
}

#alltabs-button{
	margin-top: 18px;
}

.tabs-alltabs-button {
		display:none;
}

.titlebar-color {
	background-color: var(--toolbar-bgcolor);
}

/* make everything transparent when window is inactive */
:root #nav-bar:-moz-window-inactive {
  opacity:0.25 !important;
}


/* hide sidebar header so vertical tabs look native */
#sidebar-header{ display: none }
