/* make everything transparent when window is inactive */
:root #menubar-items:-moz-window-inactive,
:root #nav-bar:-moz-window-inactive,
:root #PersonalToolbar:-moz-window-inactive,
:root #titlebar:-moz-window-inactive {
  opacity:0.25 !important;
/* 	margin-bottom:-1px; */
}

:root #titlebar:-moz-window-active {
  opacity:0.25 !important;
/*   margin-bottom:-1px; */
/* 	margin-bottom:-1px; */
}

#navigator-toolbox {
	--toolbar-bgcolor: transparent;
}

.titlebar-color {
	background-color: var(--toolbar-bgcolor);
}

#menubar-items {
	margin-top: 5px;
/* 	margin-bottom:40px; */
	margin-left: 10px;
  margin-bottom:4px;
} 

/* hide sidebar header so vertical tabs look native */
#sidebar-header{ display: none }

.tabs-alltabs-button {
		display:none;
}

#firefox-view-button {
	display:none;
}

#tabbrowser-tabs {
	display:none;
}

#nav-bar {
			margin-right: 138px;
}

#urlbar-container{
	-moz-transform: scale(-1, -1);
	-o-transform: scale(-1,-1);
	-webkit-transform: scale(-1,-1);
	transform: scale(-1,-1);
}

#urlbar{
	-moz-transform: scale(-1, -1);
	-o-transform: scale(-1,-1);
	-webkit-transform: scale(-1,-1);
	transform: scale(-1,-1);
}

@media (-moz-platform: windows) {
	#nav-bar {
			margin-right: 140px;
  }
}

#toolbar-menubar:not([customizing]){
  
  .titlebar-buttonbox {
    padding-bottom:39px;
    padding-top:28px;
    
  }
}

#toolbar-menubar[customizing]{
  margin-bottom:1px;
  .titlebar-buttonbox {
/*     margin-top:-3px; */
/*     margin-top:-20px; */
    padding-bottom:39px;
    padding-top:28px;
  }
  
}
#PersonalToolbar {
	-moz-box-ordinal-group: -1 !important;
	order: -1 !important;
}

#navigator-toolbox {
	-moz-box-ordinal-group: 1 !important;
	order: 1 !important;
}

:root[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel {
	margin-top:-28px;
	
}

:root[BookmarksToolbarOverlapsBrowser] #sidebar-box {
	margin-top:-28px;
}

:root[BookmarksToolbarOverlapsBrowser] #nav-bar {
   margin-bottom:28px; !important;
}

.titlebar-buttonbox, .titlebar-buttonbox-container {
	background-color: var(--toolbar-bgcolor);
	margin-bottom:-41px;
	height:-41px;
}

#main-window[privatebrowsingmode="temporary"] #nav-bar {
  margin-right:160px;
}

#main-window[privatebrowsingmode="temporary"] #private-browsing-indicator-with-label > label { display: none; }


#main-window[privatebrowsingmode="temporary"] .private-browsing-indicator-icon {
  margin-bottom: -40px;
}



/* ======= =sidebar hover hack =======*/
#sidebar-box{
  --uc-sidebar-width: 35px;
  --uc-sidebar-hover-width: 210px;
  --uc-autohide-sidebar-delay: 600ms; /* Wait 0.6s before hiding sidebar */
  --uc-autohide-transition-duration: 115ms;
  --uc-autohide-transition-type: linear;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}

#sidebar-box[positionend]{ direction: rtl }
#sidebar-box[positionend] > *{ direction: ltr }

#sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

#main-window[sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 1px; }

#sidebar-splitter{ display: none }

#sidebar-header{
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
  padding-inline: 0 !important;
}

#sidebar-header::before,
#sidebar-header::after{
  content: "";
  display: flex;
  padding-left: 8px;
}

#sidebar-header,
#sidebar{
  transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}
#sidebar-box:hover > #sidebar-header,
#sidebar-box:hover > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

.sidebar-panel{
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box{
  -moz-appearance: none !important;
  background-color: rgba(249,249,250,0.1) !important; 
  color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header{
  background-color: inherit !important;
/*   border-inline: 1px solid rgb(80,80,80); */
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > *{
  border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
  margin-inline: 0px !important;
  border-left-style: solid !important; 
}

/* ======= =sidebar hover hack =======*/
